<main></main>
<main>
  <section>
    <form action="" method="">
      <input
        type="text"
        name="userSearch"
        placeholder="Ej.: Lucifer"
        class="js_input"
      />
      <button type="submit" class="button js_searchButton">Search</button>
    </form>
  </section>
  <div class="sections">
    <section class="favoritesSection">
      <h2>Mis series favoritas</h2>
      <ul class="js_favListsData"></ul>
    </section>
    <section class="searchSection">
      <ul class="js_listData"></ul>
    </section>
  </div>
</main>
