<main class="main">
  <section>
    <form action="" method="">
      <input
        type="text"
        name="userSearch"
        placeholder="Ej.: Lucifer"
        class="js_input main__input"
      />
      <button type="submit" class="js_searchButton main__button">Search</button>
    </form>
  </section>
  <div class="sections">
    <section class="sections__favoritesSection">
      <h2>Mis series favoritas</h2>
      <ul class="js_favListsData"></ul>
    </section>
    <section>
      <input
        type="reset"
        value="Borrar Lista"
        class="sections__input--reset js_resetButton"
      />
    </section>
    <section class="sections__searchSection">
      <ul class="js_listData"></ul>
    </section>
  </div>
</main>
