// fonts
/*$font-main: 'Roboto', sans-serif;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;*/
$color_body: rgb(12, 73, 75);
$color_darkBody: rgb(21, 60, 61);
$color_white: white;
$color_logo: rgba(47, 243, 73, 0.5);

$font-header: "Acme", sans-serif;
