.footer {
  width: 100%;
  height: 60px;
  background-color: $color_darkBody;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copy {
    color: $color_white;
    margin-left: 40px;
  }
  &__name {
    color: $color_logo;
    margin-right: 40px;
    font-family: $font-header;
    font-size: larger;
  }
}
