.main {
  background-color: $color_body;
  font-family: $font-page;
  width: 100%;
  height: auto;
  min-height: 100vh;

  &__input {
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
  }
  &__button {
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
    &:hover {
      background-color: $color_logo;
      color: $color_white;
    }
  }
}
.sections {
  display: flex;
  flex-direction: row;
  margin: 15px 9px 0 9px;
  margin-top: 15px;
  height: auto;

  &__favoritesSection {
    width: 20%;
    margin-right: 20px;
    margin-left: 100px;
    color: $color_white;
  }
  &__searchSection {
    margin-left: 100px;
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__input--reset {
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    align-content: center;
    &:hover {
      background-color: $color_logo;
      color: $color_white;
    }
  }
}
.clickSeries {
  border: 10px solid $color_logo;
  color: $color_white;
  font-size: larger;
}
.main__li--listData {
  list-style: none;
  display: inline-block;
  color: $color_white;
}
.main__li--favListData {
  list-style: none;
  margin-top: 20px;
  //display: inline-block;
}
.main__li--favListimage {
  height: 180px;
}
