.searchButton {
  height: 18px;
  width: 60px;
}
.sections {
  width: 50vw;
  display: flex;
  flex-direction: row;
  .favoritesSection {
    background-color: aqua;
  }
}
.clickSeries {
  border: 15px solid blue;
}
.main__li--listData {
  list-style: none;
}
